@import '../Utils/mixin.scss';
@import '../Utils/variables.scss';
@import '../Composants/_column.scss';
@import '../Composants/_rowLayout.scss';
@import '../Composants/_seventyFiveHeight.scss';
@import '../Composants/_icon.scss';
@import '../Base/_whitebg.scss';
@import '../Base/_completeLine.scss';
@import '../Base/_seventyFiveWidth.scss';
@import '../Base/_twentyFiveWidth.scss';
@import '../Base/_thirtyWidth.scss';
@import '../Base/_paddingRightTwentyFive.scss';
@import '../Base/_centerFlexStart.scss';


.hundred {
    width: 100%;
    height: 100px;
}

@mixin mobileHeader {
    width: 75%;
    height: 100%;
    @include flexRow();
    justify-content: flex-start;
    align-items: center;
}

@mixin homeIcon {
    width: 25%;
    height: 50%;
    @include flexRow();
    justify-content: center;
    align-items: center;
}

@mixin nameLabel {
    width: 50%;
    height: 100%;
    @include flexRow();
    justify-content: flex-start;
    align-items: center;
}

@mixin nameString {
    color: $MainWhite;
    font-weight: bold;
    font-size: 1.2em;
    text-align: left;
}

@mixin hundred {
    width: 100%;
    height: 100px;
}

.spaceAroundLine {
    justify-content: space-around;
    align-items: center;
}

.titleHeader {
    justify-content: center;
    align-items: flex-start;
}

.titleLabel {
    color: $DarkBlue;
    font-size: 1.6em;
    font-weight: bold;
    padding-left: 30px;
}

// Media
@media screen and (min-width: 48em) {

    .header {
        @include hundred();
        @include col();
        background-color: $MainWhite;

        & .mobileHeader {
            display: none;
        }

        & .navIcons {
            @include flexRow();
            width: 100%;
            height: 100%;
            justify-content: space-around;
        }

        & .centerLine {
            @include flexRow();
            width: 100%;
            height: auto;
            justify-content: center;
            align-items: center;
        }

        & .line {
            width: 90%;
            height: 3px;
        }

        & .purple {
            background: $DarkPurple;
        }
    }
}


@media screen and (max-width: 48em) {
    .header {
        @include hundred();
        @include col();
        background-color: $DarkBlue;

        & .mobileHeader {
            @include mobileHeader();

            & .homeIcon {
                @include homeIcon();
            }

            & .nameLabel {
                @include nameLabel();

                & .name {
                    @include nameString();
                }
            }
        }

        & .navIcons {
            display: none;
        }

        & .centerLine {
            display: none;
        }
    }
}