.presentationText {
    color: $DarkBlue;
    font-size: 1.2em;
    font-weight: bold;
    text-align: justify;
    word-wrap: break-word;
}

.presentationTitle {
    color: $DarkBlue;
    font-size: 1.6em;
    font-weight: bold;
    text-align: justify;
    word-wrap: break-word;
}