@import '../Utils/mixin.scss';
@import '../Utils/variables.scss';

.imageRate {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 70%;
    border-radius: 20px;
}

.roundedImage {
    width: 325px;
    height: 325px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    object-fit: cover;
}